In [1]:
import pandas as pd

In [6]:
bookings = pd.read_csv(r"C:\\Users\perum\Desktop\Code Basics Projects\Hospitality insights\Input Files\fact_bookings.csv")

In [7]:
bookings.head(10)

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920
5,May012216558RT16,16558,2022-05-01,2022-05-01,2022-05-03,2,RT1,others,4.0,Checked Out,9100,9100
6,May012216558RT17,16558,2022-04-28,2022-05-01,2022-05-06,2,RT1,others,NaN,Cancelled,9100,3640
7,May012216558RT18,16558,2022-04-26,2022-05-01,2022-05-03,2,RT1,logtrip,NaN,No Show,9100,9100
8,May012216558RT19,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,tripster,NaN,Checked Out,9100,9100
9,May012216558RT110,16558,2022-04-28,2022-05-01,2022-05-02,1,RT1,others,4.0,Checked Out,9100,9100

In [8]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  object
 3   check_in_date      134590 non-null  object
 4   checkout_date      134590 non-null  object
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  object
 7   booking_platform   134590 non-null  object
 8   ratings_given      56683 non-null   float64
 9   booking_status     134590 non-null  object
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 12.3+ MB

In [11]:
bookings.describe().round(2)

,property_id,no_guests,ratings_given,revenue_generated,revenue_realized
count,134590.00,134590.00,56683.00,134590.00,134590.00
mean,18061.11,2.04,3.62,14916.01,12696.12
std,1093.06,1.03,1.24,6452.87,6928.11
min,16558.00,1.00,1.00,6500.00,2600.00
25%,17558.00,1.00,3.00,9900.00,7600.00
50%,17564.00,2.00,4.00,13500.00,11700.00
75%,18563.00,2.00,5.00,18000.00,15300.00
max,19563.00,6.00,5.00,45220.00,45220.00

In [12]:
bookings.isnull().sum()

booking_id               0
property_id              0
booking_date             0
check_in_date            0
checkout_date            0
no_guests                0
room_category            0
booking_platform         0
ratings_given        77907
booking_status           0
revenue_generated        0
revenue_realized         0
dtype: int64

In [15]:
bookings.loc[bookings['booking_status'].isin(['Cancelled','No Show']), 'ratings_given']='Not Applicable'

In [16]:
bookings.isnull().sum()

booking_id               0
property_id              0
booking_date             0
check_in_date            0
checkout_date            0
no_guests                0
room_category            0
booking_platform         0
ratings_given        37728
booking_status           0
revenue_generated        0
revenue_realized         0
dtype: int64

In [26]:
bookings.loc[bookings['ratings_given'].isin(['Not Applicable']), 'ratings_given']= 0

In [37]:
bookings['ratings_given']=bookings['ratings_given'].astype('float64')

In [34]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  object
 3   check_in_date      134590 non-null  object
 4   checkout_date      134590 non-null  object
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  object
 7   booking_platform   134590 non-null  object
 8   ratings_given      96862 non-null   object
 9   booking_status     134590 non-null  object
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: int64(4), object(8)
memory usage: 12.3+ MB

In [40]:
bookings.isnull().sum()

booking_id               0
property_id              0
booking_date             0
check_in_date            0
checkout_date            0
no_guests                0
room_category            0
booking_platform         0
ratings_given        37728
booking_status           0
revenue_generated        0
revenue_realized         0
dtype: int64

In [41]:
import numpy as np
bookings.loc[~bookings['ratings_given'].between(1,5),'ratings_given']=np.nan

In [42]:
bookings.isnull().sum()

booking_id               0
property_id              0
booking_date             0
check_in_date            0
checkout_date            0
no_guests                0
room_category            0
booking_platform         0
ratings_given        77907
booking_status           0
revenue_generated        0
revenue_realized         0
dtype: int64

In [43]:
agr_book = pd.read_csv(r"C:\\Users\perum\Desktop\Code Basics Projects\Hospitality insights\Input Files\fact_aggregated_bookings.csv")

In [44]:
agr_book.head(10)

   property_id check_in_date room_category  successful_bookings  capacity
0        16559     01-May-22           RT1                   25        30
1        19562     01-May-22           RT1                   28        30
2        19563     01-May-22           RT1                   23        30
3        17558     01-May-22           RT1                   13        19
4        16558     01-May-22           RT1                   18        19
5        17560     01-May-22           RT1                   28        40
6        19558     01-May-22           RT1                   25        40
7        19560     01-May-22           RT1                   23        26
8        17561     01-May-22           RT1                   22        26
9        16560     01-May-22           RT1                   24        34

In [45]:
agr_book.isnull().sum()

property_id            0
check_in_date          0
room_category          0
successful_bookings    0
capacity               0
dtype: int64

In [46]:
agr_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   check_in_date        9200 non-null   object
 2   room_category        9200 non-null   object
 3   successful_bookings  9200 non-null   int64
 4   capacity             9200 non-null   int64
dtypes: int64(3), object(2)
memory usage: 359.5+ KB

In [48]:
agr_book.describe().round(2)

       property_id  successful_bookings  capacity
count      9200.00              9200.00   9200.00
mean      18040.64                14.63     25.28
std        1099.82                 7.59     11.44
min       16558.00                 1.00      3.00
25%       17558.00                 9.00     18.00
50%       17564.00                14.00     25.00
75%       18563.00                19.00     34.00
max       19563.00                43.00     50.00

In [51]:
agr_book.columns

Index(['property_id', 'check_in_date', 'room_category', 'successful_bookings',
       'capacity'],
      dtype='object')